<?xml version="1.0" encoding="UTF-8"?>

<!--
Launchd (OS X) configuration for TivoHMO
Copy to ~/Library/LaunchAgents and edit as desired
Then to start the server, run: launchctl load ~/Library/LaunchAgents/tivohmo.plist
-->

<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>Label</key>
        <string>TivoHMO</string>
        <key>ProgramArguments</key>
        <array>
                <string>bash</string>
                <string>-l</string>
                <string>-c</string>
                <string>tivohmo --configuration <%= File.expand_path(config[:configuration]) %></string>
        </array>
        <key>RunAtLoad</key>
        <true/>
        <key>KeepAlive</key>
        <true/>
</dict>
</plist>
